{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>{{ object.name }}</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                OpenAPI Version:
            </div>
            <div class="col">
                {{object.openapi_version}}
            </div>
        </div>
        <div class="row">
                <div class="col">
                    Version:
                </div>
                <div class="col">
                    {{object.version}}
                </div>
        </div>
    </div>

    <form method="post">
        <br>
        <button type="submit" class="btn btn-primary" name="button" value="object_list">Objekt -> Endpunkte zusammenhängend</button>
        <br><br>
        <button type="submit" class="btn btn-primary" name="button" value="object_crud">Objekt -> CRUD Endpunkte</button>
        <br><br>
        <button type="submit" class="btn btn-primary" name="button" value="endpoint_list">Endpunkt -> Sequenzen</button>
    </form>
  </div>
{% endblock %}